.fretboardTool {
  margin: auto;
  width: 1300px;
  height: 378px;
  background-color: rgb(47, 53, 58);
  box-shadow: 8px 0 10px 4px rgb(0,0,0, 0.2);
  border-radius: 15px 15px 0 0;
  color: white;
  font-size: 50px;
  text-align: center;
}

.Score {
  padding-left: 5px;
}

.fretboardTool p {
  display: inline-flex;
  flex-direction: row;
  margin: 0;
  font-size: 45px;
  position: relative;
  float: left;
}

.FretboardOptions {
  display: inline-flex;
  flex-direction: row;
  margin: 0;
  position: relative;
  float: left;
  width: 1300px;
  height: 45px;
  top: -220px;
  text-align: left;
  box-shadow: 8px 5px 10px 3px rgb(0,0,0, 0.2);
}

.FretboardOptions select {
  background-color: rgb(84, 107, 75);
  color: white;
  width: 200px;
  margin: 0;
  border: 1px solid rgb(47, 58, 51);
  text-align: center;
}

.Selection {
  left: 100px;
}

.FretboardOptions button {
  background-color: rgb(84, 107, 75);
  border: 1px solid rgb(47, 58, 51);
  color: white;
}

.StartButton:hover, .ResetButton:hover, .FretboardOptions select:hover, .learningModeButton:hover {
  background-color: rgb(126, 160, 112);
  cursor: pointer
}

.StartButton, .ResetButton {
  margin: 0;
  width: 200px;
}

.learningModeButton {
  width: 500px;
}
.fretboardTool button, select {
  font-size: 20px;
}

.Fill {
  width: 100%;
}