.table {
  border-collapse: collapse;
  border: 1px solid black;
  position: relative;
  left: 80px;
}

.th {
  background-color: rgb(221, 195, 162);
  border-right: 4px solid rgb(119, 116, 116);
  padding: 18px;
  position: relative;
}

.StringTuning {
  list-style-type: none;
  text-align: right;
  float: right;
  position: relative;
  top: -248px;
  right: 60px;
  font-size: 31px;
}

.stringNotes {
  margin-bottom: 1px;
}

.Fill {
  width: 100%;
}

.FretNumbers {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: left;
  list-style-type: none;
  padding-left: 51px;
  font-size: 35px;
  color:rgb(143, 215, 248);
  margin: 0 80px;
}


.Circle {
  background-color: rgb(70, 63, 59);
  display: inline-block;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  position: absolute;
}

.linebg {
  border-bottom-style: solid;
  pointer-events: none;
  width: 100%;
}

.line {
  width: 100%;
  position: absolute;
  pointer-events: none;
}

.th:hover {
  cursor: pointer;
}
